
@{
    ViewBag.Title = "Index";
}



<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Karma Shop</title>
    <!--
            CSS
            ============================================= -->
    @Styles.Render("~/Template/css/linearicons.css")
    @Styles.Render("~/Template/css/owl.carousel.css")
    @Styles.Render("~/Template/css/font-awesome.min.css")
    @Styles.Render("~/Template/css/themify-icons.css")
    @Styles.Render("~/Template/css/nice-select.css")
    @Styles.Render("~/Template/css/bootstrap.css")
    @Styles.Render("~/Template/css/main.css")
    <style>
        /* Style The Dropdown Button */
        .dropbtn {
            background-color: #828bb3;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            /* Links inside the dropdown */
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                /* Change color of dropdown links on hover */
                .dropdown-content a:hover {
                    background-color: #f1f1f1
                }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {
            background-color: #17a2b8;
        }
    </style>
</head>
<body id="category">
  
    <div class="row">

        <div class="col-xl-9 col-lg-8 col-md-7">
            <!-- Start Filter Bar -->
            <div class="LojaDesign">
                <div class="dropdown">
                    <button class="dropbtn">Ar condicionados</button>
                    <div class="dropdown-content">

                        @foreach (var item in ViewBag.categoria)
                        {
                            if (item.Tipo == "Ar condicionado")
                            {
                                <a href="#"> @item.Nome </a>
                            }

                        }
                    </div>
                </div>
                <div class="dropdown">
                    <div class="dropdown">
                        <button class="dropbtn">Ferramentas</button>
                        <div class="dropdown-content">

                            @foreach (var item in ViewBag.categoria)
                            {
                                if (item.Tipo == "Ferramentas")
                                {
                                    <a href="#"> @item.Nome </a>
                                }

                            }
                        </div>
                    </div>

                </div>


                <div class="dropdown">
                    <div class="dropdown">
                        <button class="dropbtn">Peças</button>
                        <div class="dropdown-content">

                            @foreach (var item in ViewBag.categoria)
                            {
                                if (item.Tipo == "Peças")
                                {
                                    <a href="#"> @item.Nome </a>
                                }

                            }
                        </div>
                    </div>

                </div>

                <div class="dropdown">
                    <div class="dropdown">
                        <button class="dropbtn">Materiais</button>
                        <div class="dropdown-content">

                            @foreach (var item in ViewBag.categoria)
                            {
                                if (item.Tipo == "Materiais")
                                {
                                    <a href="#"> @item.Nome </a>
                                }

                            }
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

  

   
    <section class="lattest-product-area pb-40 category-list">


        <div class="col-lg-4 col-md-6">
            <div class="single-product">
                <img class="img-fluid" img src="~/Template/img/product/p2.jpg" alt="">
                <div class="product-details">
                    <h6>
                        addidas New Hammer sole
                        for Sports person
                    </h6>
                    <div class="price">
                        <h6>$150.00</h6>

                    </div>
                    <div class="prd-bottom">
                        <a href="" class="social-info">
                            <span class="ti-bag"></span>
                            <p class="hover-text">Adicionar ao carrinho</p>
                        </a>
                        <a href="" class="social-info">
                            <span class="lnr lnr-heart"></span>
                            <p class="hover-text">Favoritos</p>
                        </a>
                        <a href="" class="social-info">
                            <span class="lnr lnr-heart"></span>
                            <p class="hover-text">Comprar</p>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <!-- single product -->
        <div class="col-lg-4 col-md-6">
            <div class="single-product">
                <img class="img-fluid" img src="~/Template/img/product/p3.jpg" alt="">
                <div class="product-details">
                    <h6>
                        addidas New Hammer sole
                        for Sports person
                    </h6>
                    <div class="price">
                        <h6>$150.00</h6>

                    </div>
                    <div class="prd-bottom">
                        <a href="" class="social-info">
                            <span class="ti-bag"></span>
                            <p class="hover-text">Adicionar ao carrinho</p>
                        </a>
                        <a href="" class="social-info">
                            <span class="lnr lnr-heart"></span>
                            <p class="hover-text">Favoritos</p>
                        </a>
                        <a href="" class="social-info">
                            <span class="lnr lnr-heart"></span>
                            <p class="hover-text">Comprar</p>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center">


                <div class="pagination">
                    <a href="#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="page-footer font-small mdb-color pt-4">

            <!-- Footer Links -->
            <div class="container text-center text-md-left">

                <!-- Footer links -->
                <div class="row text-center text-md-left mt-3 pb-3">

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Company name</h6>
                        <p>
                            Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
                            consectetur
                            adipisicing elit.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                        <p>
                            <a href="#!">MDBootstrap</a>
                        </p>
                        <p>
                            <a href="#!">MDWordPress</a>
                        </p>
                        <p>
                            <a href="#!">BrandFlow</a>
                        </p>
                        <p>
                            <a href="#!">Bootstrap Angular</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                        <p>
                            <a href="#!">Your Account</a>
                        </p>
                        <p>
                            <a href="#!">Become an Affiliate</a>
                        </p>
                        <p>
                            <a href="#!">Shipping Rates</a>
                        </p>
                        <p>
                            <a href="#!">Help</a>
                        </p>
                    </div>

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                        <p>
                            <i class="fas fa-home mr-3"></i> New York, NY 10012, US
                        </p>
                        <p>
                            <i class="fas fa-envelope mr-3"></i> info@gmail.com
                        </p>
                        <p>
                            <i class="fas fa-phone mr-3"></i> + 01 234 567 88
                        </p>
                        <p>
                            <i class="fas fa-print mr-3"></i> + 01 234 567 89
                        </p>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Footer links -->

                <hr>

                <!-- Grid row -->
                <div class="row d-flex align-items-center">

                    <!-- Grid column -->
                    <div class="col-md-7 col-lg-8">

                        <!--Copyright-->
                        <p class="text-center text-md-left">
                            © 2018 Copyright:
                            <a href="https://mdbootstrap.com/education/bootstrap/">
                                <strong> MDBootstrap.com</strong>
                            </a>
                        </p>

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-5 col-lg-4 ml-lg-0">

                        <!-- Social buttons -->
                        <div class="text-center text-md-right">
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item">
                                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->

        </footer>
        <!-- Footer -->

    </section>


    @Scripts.Render("~/Template/js/vendor/jquery-2.2.4.min.js")
    @Scripts.Render("~/Template/js/main.js")

    @Scripts.Render("~/Template/js/jquery.ajaxchimp.min.js")
    @Scripts.Render("~/Template/js/jquery.nice-select.min.js")
    @Scripts.Render("~/Template/js/jquery.sticky.js")
    @Scripts.Render("~/Template/js/nouislider.min.js")
    @Scripts.Render("~/Template/js/jquery.magnific-popup.min.js")
    @Scripts.Render("~/Template/js/owl.carousel.min.js")
    @Scripts.Render("~/Template/js/vendor/bootstrap.min.js")


</body>

</html>
