@model ProjetoAr3.Models.cliente

@{
    ViewBag.Title = "Details";
}
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<h2>Detalhes do Cliente</h2>

<div>


    <table>

        <tr>
            <th>Nome:</th>
            <td>@Html.DisplayFor(model => model.usuario.Nome)</td>

        </tr>

        <tr>
            <th>Senha:</th>
            <td>@Html.DisplayFor(model => model.usuario.Senha)</td>

        </tr>

        <tr>
            <th>Email:</th>
            <td>@Html.DisplayFor(model => model.Email)</td>

        </tr>
        <tr>
            <th>Cpf:</th>
            <td>@Html.DisplayFor(model => model.Cpf)</td>

        </tr>

    </table>
    <hr />



</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar para a lista de cadastros", "Index")
</p>
