@model ProjetoAr3.Models.funcionario

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar Funcionário</h2>

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<div>


    <table>

        <tr>
            <th>Nome:</th>
            <td>@Html.DisplayFor(model => model.Nome)</td>

        </tr>
        <tr>
            <th>Senha:</th>
            <td>@Html.DisplayFor(model => model.Senha)</td>

        </tr>
        <tr>
            <th>Email:</th>
            <td>@Html.DisplayFor(model => model.Email)</td>

        </tr>
        <tr>
            <th>Cpf:</th>
            <td>@Html.DisplayFor(model => model.Cpf)</td>

        </tr>

    </table>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para a lista de cadastros", "Index")
        </div>
    }
</div>



    